body {
    margin: 0%;
}
.head {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
.page-name {
    font-size: 50px;
}
a {
    text-decoration: none;
    color: white;
    position: relative;
    left: 100px;
}
image {
    height: 20px;
    width: 20px;
}
.cvarea {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 2vh 20vw;
    box-shadow: 0px 0px 25px black;
}
.personal {
    min-width: 350px;
    border: 2px solid black;
    border-right: none;
}
.info {
    flex-grow: 1;
    border: 2px solid black;
}
@media (max-width: 1024px) {
    .cvarea {
        margin: 1vh 3vw;
    }
    .personal {
        width: 30vw;
    }
}
.per-heading {
    margin: 20px 0px 10px 0px;
    text-decoration: underline;
    color: grey;
}
li {
    font-size: 1.25em;
}
.list {
    margin-left: 18px;
}
.work-done {
    max-width: 300px;
}
.per-edit {
    margin-left: 10px;
}
.summary-ta {
    height: 200px;
    width: 400px;
}
